body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f7fafc; 
}

.main-content {
    padding: 20px;
}

.search-input {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-card {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    transition: transform 0.2s;
    flex: 0 0 20%; 
    margin: 10px;
    min-width: 200px; 
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-image{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    height: 110px;
}

.project-image img {
    max-width: 30%;
}

.project-title {
    font-size: 1.2em;
    margin: 8px 8px;
    text-align: left;
}
.project-description {
    font-size: 0.9em;
    color: #555;
    padding: 0 8px;
    text-align: left;
}
.project-link {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    padding: 8px 8px;
    border: 1px solid #007bff;
}
